body {
    background-color: pink;
    background-image: url("https://www.holidify.com/images/cmsuploads/compressed/MandaraSpa_20200206125622.jpg");
    font-family: Optima, sans-serif;

}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: beige;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: beige;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

h3 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
}
